UPDATE [ProfitAndExpense].[dbo].[TblExpenseGroups]
   SET [Name] = <Name, nvarchar(50),>
      ,[CreationDate] = <CreationDate, datetime,>
      ,[IsDeleted] = <IsDeleted, bit,>
 WHERE <Search Conditions,,>