<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" sku="Client"/>
	</startup>

	<system.diagnostics>
		<sources>
			<!--
      <source name="System.Windows.Data" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.DependencyProperty" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.Freezable" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.RoutedEvent" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.Media.Animation" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.NameScope" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.ResourceDictionary" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.Markup" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
			<!--
      <source name="System.Windows.Documents" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
		</sources>

		<switches>
			<!--
			<add name="SourceSwitch" value="All" />
      -->
			<!--add name="SourceSwitch" value="Off" -->
			<!--add name="SourceSwitch" value="Verbose" -->
			<!--add name="SourceSwitch" value="Warning" -->
			<!--add name="SourceSwitch" value="Activity" -->
		</switches>

		<sharedListeners>
			<!-- This listener sends output to the console -->
			<!--
			<add name="console"
           type="System.Diagnostics.ConsoleTraceListener"
           initializeData="false"/>
			-->
			<!-- This listener sends output to an Xml file named TraceLog.xml -->
			<!--
			<add name="xmlListener"
           type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="None"
           initializeData="TraceLog.xml" />
			-->
			<!-- This listener sends output to a file named TraceLog.txt -->
			<!--
      <add name="textListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="TraceLog.txt" />
			-->
		</sharedListeners>
	
		<trace autoflush="true" indentsize="4"></trace>
	</system.diagnostics>
</configuration>
